# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - uses: actions/cache@v1
      name: Cache /home/runner/BAZEL_USER_ROOT
      with:
        path: /home/runner/BAZEL_USER_ROOT
        key: BAZEL_USER_ROOT

    - uses: actions/cache@v1
      name: Cache /home/runner/OUTPUT_DIR
      with:
        path: /home/runner/OUTPUT_DIR
        key: OUTPUT_DIR

    # Runs a set of commands using the runners shell
    - name: unit-test
      run: |
        echo `whoami`
        export TUSHARE_TOKEN=${{ secrets.TUSHARE_TOKEN }}
        mkdir -p /home/runner/BAZEL_USER_ROOT
        export BAZEL_USER_ROOT=/home/runner/BAZEL_USER_ROOT
        mkdir -p /home/runner/OUTPUT_DIR
        export OUTPUT_DIR=/home/runner/OUTPUT_DIR
        echo `pwd`
        docker-compose up
